services:
  open-webui:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        UID: ${UID:-0}
        GID: ${GID:-0}
        BUILD_HASH: ${BUILD_HASH:-dev-build}
        PIP_MIRROR: ${PIP_MIRROR:-https://pypi.org/simple}
    container_name: open-webui
    volumes:
      - open-webui:/app/backend/data
    ports:
      - "8083:8083"
    environment:
      - 'WEBUI_SECRET_KEY='
      - 'WEBUI_SECRET_KEY_FILE='
      - 'WEBUI_JWT_SECRET_KEY='
    extra_hosts:
      - host.docker.internal:host-gateway
    restart: unless-stopped

volumes:
  open-webui: {}
